/* header */
* {
    box-sizing: border-box;
}

.brand-title p {
    font-size: 12px;
    color: black;
}

.bar {
    padding-right: 5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; font-weight: 300;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #CE4A4A; */
    background-color: white;
    color: black;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding-left: 5%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    color: red;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .toggle-button {
        display: flex;
        /* padding-left: 13%; */
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.rounded {
    border-bottom: 1px  black;
    box-shadow: 0 2px 2px #333;
}
/* end of header  */

/* Article Author Section */

  .article-author-section {
    display: flex;
    align-items: center;
    margin-left:15%;
    margin-right:15%;
  }

  @media (max-width: 56.25em) {
    .article-author-section {
        margin-left:5%;
        margin-right:5%;
    }
    }
  
  .article-author-image {
    /* width: 5%; */
    border-radius: 50%; 
    /* overflow: hidden; */
    max-width: 6%;
    display: block;
    /* margin: 0 auto 0.5rem; */
    border: 1px solid #d3d3d3;
    /* border-radius: 10rem; */
    
  }

  @media (max-width: 56.25em) {
    .article-author-image {
        max-width: 12%;
    }
    }
  
  .article-author-text {
    width: 80%;
    font-weight: 300;
    /* white-space: nowrap;  */
  }

/* End of Article Author Section */

/* Article Title Section */

.article-title-section {
    /* padding: 20px 20px 40px; */
    text-align: left;
    margin-left:15%;
    margin-right:15%;
    /* padding-left: 5%; 
    padding-right: 5%;  */
    /* text-align: center; */
}

@media (max-width: 56.25em) {
    .article-title-section {
        margin-left:5%;
        margin-right:5%;
    }
}

.article-title {
    font-size: 45px;
}

/* End of Article Title Section */

/* Article image section */

.article-img-section {
    flex: .75 0 300px;
    /* padding: 20px; */
    border-radius: 12px;
  }

  .article-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    /* max-height: 50%; */
    border-radius: 20px;
    box-shadow:  0px 0px 5px black;
  }

  @media (max-width: 57.25em) {
    .article-img {
        width: 150%; 
        max-height: 800px;
    }
}

/* end of Article image section */

/* Article paragraph section */
.article-paragraph-section {
    padding-left: 5%; 
    padding-right: 5%; 
    align-items: center;
}

#article-paragraph-description {
    margin-left:15%;
    margin-right:15%;
    /* margin-bottom: 10%; */
    /* margin-top: 5%; */
    text-align: left;
    line-height: 2.0;
    font-size: 24px;
}

@media (max-width: 56.25em) {
    #article-paragraph-description {
        margin-left:5%;
        margin-right:5%;
    }
}
/* End of Article paragraph section */

/* Article Tag Section */

.article-tag-section {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .tag1, .tag2 {
  /*   flex: 1; */
    padding: 8px;
    /* margin: 4px; */
    background-color: #ccc;
    color: black;
    text-align: center;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }

  @media (max-width: 56.25em) {
    .article-tag-section {
        margin-left:5%;
        margin-right:5%;
    }
}

/* End of Article Tag Section */

/* Footer */
/*  */
.container {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .column-left{ 
    float: left; 
    /* width: 33.333%;  */
    width: 20%;
    /* background-color: red; */
    /* display: block; */
  }
  
  .column-left img {
    width: 40px;
    height: 50px;
  }
  
  .column-center{ 
    display: inline-block; 
    /* width: 33.333%;  */
    width: 60%;
    text-align: center;
  }
  
  .column-right img {
    width: 50px;
    height: 40px;
    margin: auto;
  }
  
  .column-right{ 
    float: right; 
    /* width: 33.333%;  */
    width: 20%;
    text-align: right;
    /* background-color: red; */
  }
  
  .middleP2 {
    font-size: 10px;
    /* background-color: blue; */
  }
  

/* Media queries */

/* Big Screens */

/* Medium screen*/
@media(max-width: 910px){
    .apply-to-positions-container {
        display: block;
    }
    .apply-to-positions-button > a > button {
        width: 50%;
    }

    .club-suggestions-container, .share-project-ideas-container {
        flex-direction: column;
    }
}

/* Small Screens */
@media(max-width: 515px){
    
    .positions-list > ul{
        font-size: 20px;
        margin: 40px 0;
    }

    .share-project-ideas-text > p {
        width: 100%;
        font-size: 20px;
    }
    
    .club-suggestions-text > p{
        width: 100%;
        font-size: 20px;
    }
    .share-project-ideas-text > a > button {
        width: 55%
    }
}

/* Footer Specific */
@media (max-width: 800px) {
    .middleP2 {
      font-size: 7px;
    }
}
